@font-face {
  font-family: 'ElevanceSans';
  src: url('../fonts/ElevanceSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ElevanceSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ElevanceSans-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ElevanceSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ElevanceSans-Medium.svg#ElevanceSansRegular') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ElevanceSans';
  src: url('../fonts/ElevanceSans-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ElevanceSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ElevanceSans-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ElevanceSans-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ElevanceSans-MediumItalic.svg#ElevanceSansRegular') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ElevanceSans';
  src: url('../fonts/ElevanceSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ElevanceSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ElevanceSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ElevanceSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ElevanceSans-Semibold.svg#ElevanceSansRegular') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ElevanceSans';
  src: url('../fonts/ElevanceSans-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ElevanceSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ElevanceSans-SemiboldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ElevanceSans-SemiboldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ElevanceSans-SemiboldItalic.svg#ElevanceSansRegular') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: italic;
}


